.aboutUs-img {
    display: inline-block;
    width: 100%;
    margin-top: 20%;
    margin-left: 50%;
}

.aboutUs-text {
    padding-left: 40px;
    box-sizing: border-box;
    display: block;
    margin-top: 150px;
}

.aboutUs-h2 {
color: var(--color-black);
padding-bottom: 15px;
font-size: 32px;
font-weight: bold;

}

.aboutUs-h3 {
font-size: 20px;
padding-bottom: 15px

}

.aboutUs-p {
    color: var(--color-grey-light);
    padding-bottom: 15px
}