.aboutUsText {
   /* 
    margin-top: 15px;
 margin-bottom: 15px;
 padding-right: 100px;
 line-height: 200%;*/
 font-weight: 400;
    line-height: 200%;
    padding: 100px;
    width: 100%;
    padding-left: 0;
    border-width: 50px;
   
}
.aboutUsImg {
    width: 100%;
    padding-left: 200px;
}