.title {
    margin-top: 50px;
    margin-bottom: 25px;
}

.subtitle {
    margin-bottom: 50px;
    line-height: 25px;
}

.title > .underline {
    position: relative;
    z-index: 1;
  }
  
  .title > .underline > .line {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    background-color: #80F3E7;
    height: 20px;
    z-index: -1;
  }
  
  .row > .work-item {
    margin: 0;
}

.work-item  {
    position: relative;
}

.work-item > img  { 
    width: 100%;
    opacity: 1;      
    transition: .5s ease;
    backface-visibility: hidden;         
}

.work-item > a { 
    width: 100%;
    padding: 20px; 
    background-color: var(--color-red);     
    color: var(--color-blue-light);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none; 
    transition: .5s ease;
    opacity: 0;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;          
}

.work-item > img:hover {
    opacity: 0.5;     
}

.work-item > a:hover {
    opacity: 1;
}


    




