.works-list {
    display: grid;
    grid-template-columns: 1fr;    
    
  }

.works-list >.work-item {
    box-sizing: border-box;
    border: var(--color-blue-light);
    position: relative; 
  
}

.works-list >.work-item > img  { 
    width: 100%;
    opacity: 1;      
    transition: .5s ease;
    backface-visibility: hidden;  
           
}

.works-list >.work-item > a { 
    padding: 20px; 
    background-color: var(--color-red);     
    color: var(--color-blue-light);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none; 
    transition: .5s ease;
    opacity: 0;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;          
}

.works-list >.work-item> img:hover {
    opacity: 0.5;     
}

.works-list >.work-item > a:hover {
    opacity: 1;
}

@media (min-width: 767px) {
    .works-list {
        grid-template-columns: 1fr 1fr;
    }    
}

@media (min-width: 1199px) {
    .works-list {
        grid-template-columns: 1fr 1fr 1fr;
    }   
    

}