.row > .work-item {
    margin: 0;   
}

.work-item  {
     position: relative;

}

.work-item > img  {  
    opacity: 1; 
    width: 100%; 
    transition: .5s ease;
    backface-visibility: hidden;     
    
}

.work-item > a { 
    width: 100%;
    padding: 20px; 
    background-color: var(--color-red);     
    color: var(--color-blue-light);
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    text-decoration: none; 
    transition: .5s ease;
    opacity: 0;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;          
}

.work-item > img:hover {
    opacity: 0.5;     
}

.work-item > a:hover {
    opacity: 1;
}


    




